html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after {
	content: "";
	content: none;
}

q:before, q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
  font: 13px sans-serif;
  line-height: 1.3;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 1250px;
  margin: 0 auto;
}

h1, h2{
  font-weight: bold;
}

h1{
  font-size: 34px;
  margin-bottom: 0.2em;
}

h2{
  font-size: 1.2em;
}

a, a:hover{
text-decoration: none;
}
a{
color:  rgba(85, 128, 193, 1);
border-bottom: 1px solid rgba(85, 128, 193, 0.3);
  /*color: yellow;*/
}
a:hover{
color: rgba(64, 96, 144, 1) !important;
  /*color: red;*/
border-bottom: 1px solid rgba(64, 96, 144, 0.6);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  height: 28px;
  pointer-events: none;
  position: absolute;
  width: 200px;
}

svg.main{
  /*background: url(/img/dummy-transparent.png) 43px 8px no-repeat;*/
  /*background-size: 92.1%;*/
}
path.connector{
  pointer-event: none;
}
svg.main g.main-group{
  cursor: pointer;
}

/*layout*/

body{
}

#main, #list{
  overflow: hidden;
}

#main{
  margin-left: -39px;
  position: fixed;
  top: 42px;
}

.site-description{
  margin-bottom: 15px;
  margin-left: 40px;
}

#list{
  margin-left: 722px;
  margin-right: -50px;
  margin-top: 30px;
  margin-bottom: 800px;
  /*margin-right: -40px;*/
}

.thumbnail{
  overflow: hidden;
  width: 225px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding: 8px 22px;
  margin: 15px 0;
}

.thumbnail:hover, .thumbnail.hover{
  background: rgba(255, 204, 102, 0.3);
}

  .thumbnail.shake{
    animation: shake 0.5s linear;
    transform: translate3d(0, 0, 0);
  }
  .thumbnail.dead>*{
    opacity: 0.3;
  }

  .thumbnail svg{
    /*border-bottom: 1px solid #ddd;*/
  }

  .thumbnail header{
    margin-top: -9px;
    margin-bottom: 7px;
  }
  .thumbnail h2{
    display: inline;
    line-height: 1;
    /*padding-right: 10px;*/
  }
  .thumbnail .grades{
  }
  .thumbnail .middle-grade{
    float: left;
  }
  .thumbnail.dead .middle-grade .value,
  .thumbnail.dead header h2 {
    color: gray !important;
  }
  .thumbnail.dead header h2:after{
    content: " (закрыт)";
  }
  .thumbnail .middle-grade .value{
    /*opacity: 0.5;*/
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    line-height: 0.9;
    margin-bottom: 3px;
  }
  .thumbnail .grades-products{
    float: right;
  }
  .thumbnail .grades-products span{
    display: block;
    text-align: right;
  }
.thumbnail .grades-products span.deposits{
  color: #66C2A5;
}
.thumbnail .grades-products span.debitcards{
  color: #FEA075;
}
.thumbnail .grades-products span.credits{
  color: #FFDE3C;
}


@keyframes shake {
  8%, 41% {
    transform: translate3d(-10px, 0, 0);
  }
  25%, 58% {
    transform: translate3d(10px, 0, 0);
  }
  75% {
    transform: translate3d(-5px, 0, 0);
  }
  92% {
    transform: translate3d(5px, 0, 0);
  }
  0%, 100% {
    transform: translate3d(0px, 0, 0);
  }
}
